fastparquet
matplotlib
numba
numexpr
numpy
nvidia-cublas-cu11
nvidia-cuda-nvrtc-cu11
nvidia-cuda-runtime-cu11
nvidia-cudnn-cu11
packaging
pandas
pathtools
psutil
pyarrow
pyparsing
python-dateutil
pytorch-ignite
requests
scipy
scikit-image
scikit-learn
torch>=2.0
torchmetrics
torchvision
tqdm
wandb
