fastparquet
matplotlib
numba
numexpr
numpy
nvidia-cublas-cu11
nvidia-cuda-nvrtc-cu11
nvidia-cuda-runtime-cu11
nvidia-cudnn-cu11
packaging
pandas
pathtools
psutil
pyarrow
pyparsing
python-dateutil
requests
scipy
scikit-image
torch>=2.0
torchvision
tqdm
wandb
